@model IEnumerable<QLSV.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class ="container p-2">
    <div class= "row pt-4"> 
        <div class="col-6">
            <h2 class="text-primary"> 
                Danh sách Sinh Viên
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
             <i class="bi bi-plus-circle-fill"></i> &nbsp; Create New
            </a>

        </div>

    </div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
               Detail
            </th>
            <th>
               Delete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>                              
                <a asp-action="Details" asp-route-id="@item.Id">
                   <i class="bi bi-info-circle-fill"></i>
                </a>           
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-x-circle-fill"></i>               
                </a>                
            </td>
        </tr>
}
    </tbody>
</table>
